:root {
    --buttonHeight: 50px; 
}


#divLoginFields{

    width: 400px;

    border: 3px solid green;
    padding: 10px;

	position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:400px;
    max-height:calc(var(--buttonHeight) * 4);
    overflow:auto;
    border-radius: 8px;
}


#imgUserIcon{
	width: 50px;
	height: 50px;
	position: absolute;
	margin: auto;
	top: 0%;
	left: 0;
	right: 0;
	margin-bottom: 10px;
}

#buttonAcessar{
	background-color: blue;
	width: 100%;
	border-radius: 8px;
	border-style: none;
	font-size: 14px;
	height: var(--buttonHeight);
	margin-top: 4px;
}

.inputLoginPassword{
	width: 100%;
	margin-top: 2px;
	margin-bottom: 10px;
	border-radius: 8px;
	/*border-radius: var(--buttonHeight);*/
	height: var(--buttonHeight);
	border-style: solid;
	border-color:rgb(200,200,200);
	.padding-left: 100px;
		font-family: "Arial";

}
