:root{
	--main-bg-color: #4682B4;
	--main-hover-color: rgb(68, 109, 222);
}

body {
	font-family: arial;
	margin: 0px;
}

html {
    position: relative;
    min-height: 100%;
}

a {
	color: #104E8B;
}

#tbCaixas {
	color: #104E8B;
	border-color: #1E90FF;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	font-weight: bold;
	width: 100%;
	align-items: center;
}

button{
	background-color: var(--main-bg-color);
	width: 80%;
	height: 40px;
	border: none;
	color: white;
	margin-top: 5px;
	font-weight: bold;
	font-size: 16px;
	background-position: 2px 50%;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    border-radius: 2px;
}

button:hover {
	background-color: #87CEEB;
	cursor: pointer;
}

#bCaixaDeEntrada {
	background-image: url(../imagens/caixa_entrada.png);
}

#bItensEnviados {
	background-image: url(../imagens/caixa_enviados.png);
}

#bLixeira {
	background-image: url(../imagens/lixo.png);
}

#tdCaixas {
	text-align: center;
}

#logoRecebidos {
	position: absolute;
	top: 173px;
	left: 28px;
}

#logoEnviados{
	position: absolute;
	top: 240px;
	left: 28px;
}

#logoLixeira {
	position: absolute;
	top: 302px;
	left: 28px;
}

#topo{
	background: var(--main-bg-color);
}

#tabTopo {
	color: white;
	font-size: 13px;
}

#topo{
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(../imagens/image.png);
}

#lBusca {
/*	position: absolute;
*/	/*top:10px;
	left: 330px;
	color: white;
	font-family: arial;*/
}

#imgBusca {
	/*position: absolute;*/
	/*top:10px;
	left: 690px;*/
}

#inpBusca {
	vertical-align: top;
}

#tBusca {
/*	width: 300px;
	font-family: arial;
	border-color: #CCC;
	border-width: 1px;
	border-style: solid;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 2px;
	margin-top: 5px;
	margin-left: 100px;*/

}

#lEmail {
	/*position: absolute;*/
	/*top:10px;
	right: 50px;*/
	color: white;
	font-family: arial;
	font-size: 14px;
}

#imConf {
	/*position: absolute;*/
	top: 2px;
	right: 5px;
}

#caixaAberta {
	color: #104E8B;
	border-color: #1E90FF;
	border-width: 1px;
	border-style: solid;
	padding: 20px;
	border-radius: 4px;
	/*position: absolute;*/
/*	left: 250px;
	top: 100px;
*/}

#email_table th{
	background-color: var(--main-bg-color);
	color: white;
}

#email_table td{
	font-size: 12px;
}

.Linha {
	background-color: #E0FFFF;
	font-weight: bold;
}

.Linha2 {

}
