:root {
    --buttonHeight: 50px; 
    --placeholder_color: rgb(180,180,180);
    --placeholder_padding: 30px;
    --color_very_dark: #254382;
    --color_dark: #7C97CF;
    --color_light: #CCDCFF;
    --color_very_light: #F5F8FF;
    --fontFamily: "Gill Sans";
    --borderRadius: 4px;
    --menuButtonHeight: 40px;
    --topBarHeight:40px;
}

html,body {
	height:98%; 
	font-family: var(fontFamily);
}

label, button, td{
	font-family: var(--fontFamily);
	align-self: flex-start
}




#divNomeUsuario{
	height: 8%;
}

/*    Barra superior   */
#divBarraSuperior{
	background-color: rgb(54,144,196);
	height: var(--topBarHeight);
	width: 100%;
	
    display: flex;
  	align-items: center

}


#divBarraSuperior input{
	height: 30px;
	display: inline-table;
	width: 250px;
	margin-left: 20px;
}

#buttonMainMenu{
	background-image: url(../imagens/menu.png);

	height: 30px;
	width: 30px;


	margin-left: 20px;
    background-size: 20px 20px;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none;

    overflow: hidden;
    color: #FFFFFF;
    position: relative;
    /*background-color: rgba(0,0,0,0);*/
}

/*--------------------------*/


#divInferior{
	width: 100%;
	display: inline-block;
	background-color: rgb(243,243,243);
	height: 86%;
}

#divMenu{
	width: 25%;
	display: inline-block;
	float: left;
}

#divMenu button{
	font-size: 16px;
}

.buttonMenu:hover{
	background-color: rgb(54,144,196);
	color: white;
}

.buttonMenu{
	border: none;
	background-color: rgba(0,0,0,0);

	text-align: left;
	padding-left: 30px;
	background-image: url(../imagens/menu.png);

}



#divMenu table{
	width: 100%;
	background-color: rgb(203,231,239);
	border-style: none;
}

#divMenu table tr:nth-child(2n){
	background-color: rgb(221,238,245);
	border-style: none;
}

#divMenu table td{
	border-style: none;
}
#divMenu table tr{
	height: var(--menuButtonHeight);
	width: 100%;
	border-style: none;
}

#divMenu table th{
	height: var(--menuButtonHeight);
	width: 100%;
	background-color: rgb(243,243,243);
}

#divMenu button{
	width: 100%;
	height: 100%;
	background-position: 2px 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

#buttonNovaMensagem{
	background-color: rgba(0,0,0,0);
	border: none;
	height: var(--topBarHeight);
}



#labelNomeUsuario{
	font-weight: bold;
	font-size: 40px;
}

/*Div Mensagens*/
#divMensagens{
	display: inline-block;
	background-color: rgb(237,237,237);
	height: 100%;
	width: 75%;
	margin: auto;

	background-color: red;
}

#labelCaixa{
	background-color: .blue;
	width: 100%;
	height: var(--menuButtonHeight);
	border: solid black;
}

